RewriteEngine On

# Redireciona solicitações externas .php para URL sem extensão
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=302,L,NE]

# Reescreve internamente solicitações para URLs sem extensão para seus equivalentes .php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ $1.php [L]
