<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Server_Console.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
        </Server_Console.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Server_Console.Properties.Settings>
            <setting name="IgnoreList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>_spschema_tb</string>
                        <string>_tableschema_tb</string>
                        <string>spschema_tb</string>
                        <string>tableschema_tb</string>
                        <string>achievement_clear_tb</string>
                        <string>achievement_tb</string>
                        <string>character_delete_tb</string>
                        <string>quest_daily_list_tb</string>
                        <string>quest_daily_tb</string>
                        <string>skill_active_tb</string>
                        <string>skill_passive_tb</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Server_Console.Properties.Settings>
    </applicationSettings>
</configuration>