<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Server_Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Server_Console.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Configured" serializeAs="String">
                <value>False</value>
            </setting>
        </Server_Console.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Server_Console.Properties.Settings>
            <setting name="IgnoreList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>_spschema_tb</string>
                        <string>_tableschema_tb</string>
                        <string>spschema_tb</string>
                        <string>tableschema_tb</string>
                        <string>achievement_clear_tb</string>
                        <string>achievement_tb</string>
                        <string>character_delete_tb</string>
                        <string>quest_daily_list_tb</string>
                        <string>quest_daily_tb</string>
                        <string>skill_active_tb</string>
                        <string>skill_passive_tb</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TableDescription" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Table Description: No Description</string>
                        <string>Table Description: List of Schemas.</string>
                        <string>Table Description: List of Table Schemas.</string>
                        <string>Table Description: List of Database error codes.</string>
                        <string>Table Description: List of Achievement IDs.</string>
                        <string>Table Description: List of Costume IDs.</string>
                        <string>Table Description: No Description</string>
                        <string>Table Description: List of Item IDs.</string>
                        <string>Table Description: List of Quest IDs.</string>
                        <string>Table Description: List of Skill IDs.</string>
                        <string>Table Description: List of Stage IDs. (Stage = Map)</string>
                        <string>Table Description: List of Schemas.</string>
                        <string>Table Description: List of Table Schemas.</string>
                        <string>Table Description: List of Departments which can be used to quickly identify staff accounts.</string>
                        <string>Table Description: user_tb for Andriod/IOS accounts.</string>
                        <string>Table Description: Lists ID Number for Andriod/IOS, used in device_tb to identify account platform.</string>
                        <string>Table Description: List of Banned accounts.</string>
                        <string>Table Description: Might be a list of AccountTypes for account_tb. Current admin accounts are ID 2</string>
                        <string>Table Description: List of Accounts sent from user_tb.</string>
                        <string>Table Description: List of schemas/database.</string>
                        <string>Table Description: List of schemas/database types, used by db_tb.</string>
                        <string>Table Description: List of Database login details.</string>
                        <string>Table Description: List of Nation UIDs, not sure where this is used yet but most likely in some account database.</string>
                        <string>Table Description: Patch URL used by Client, Maybe used to verify Client &amp; Server match.</string>
                        <string>Table Description: Revision/Patch Number and World List for Client.</string>
                        <string>Table Description: List of Device Types, used in account_tb to identify the platform the account uses to play.</string>
                        <string>Table Description: List of Server UIDs and there corresponding Database type.</string>
                        <string>Table Description: List of Servers.</string>
                        <string>Table Description: List of Server types, used by server_tb.</string>
                        <string>Table Description: List of World Servers.</string>
                        <string>Table Description: List of BlackIron for each Character.</string>
                        <string>Table Description: List of Rewards for each Character.</string>
                        <string>Table Description: List of Accounts sent from either user_tb or account_tb in Front Database.</string>
                        <string>Table Description: List of Achievement IDs to be removed from a Character.</string>
                        <string>Table Description: List of every Achievements obtained by players.</string>
                        <string>Table Description: List of deleted Characters.</string>
                        <string>Table Description: List of Characters.</string>
                        <string>Table Description: List of every Costume obtained by players.</string>
                        <string>Table Description: List of every Item in game and what character owns said item and where it's being stored.</string>
                        <string>Table Description: List of every Jewel in game and what character owns said jewel item and where it's being stored.</string>
                        <string>Table Description: List of every Mastery in game and what character owns said mastery item and where it's being stored.</string>
                        <string>Table Description: List of every Item in game and what character owns said item.</string>
                        <string>Table Description: List of every Item that has been deleted.</string>
                        <string>Table Description: Looks like a way to give extra options to items?</string>
                        <string>Table Description: List of Items with their Reinforce Level.</string>
                        <string>Table Description: List of Items with their Smelting Level.</string>
                        <string>Table Description: List of each item that can be stacked and the amount said item can be stacked to.</string>
                        <string>Table Description: List of Items with their TagBuff ID.</string>
                        <string>Table Description: List of every Item in game.</string>
                        <string>Table Description: List of Items with their Transcendence Amount.</string>
                        <string>Table Description: List of Item IDs sent via Mail.</string>
                        <string>Table Description: List of Item UIDs sent via Mail.</string>
                        <string>Table Description: List of Money sent via Mail.</string>
                        <string>Table Description: List of every Mail sent to and from players.</string>
                        <string>Table Description: No Description</string>
                        <string>Table Description: No Description</string>
                        <string>Table Description: List of Daily Quests accepeted by players.</string>
                        <string>Table Description: List of Daily Quests accepeted by players then sent to quest_daily_list_tb.</string>
                        <string>Table Description: List of Main Quests accepeted by players.</string>
                        <string>Table Description: No Description</string>
                        <string>Table Description: List of Weekly Quests accepeted by players.</string>
                        <string>Table Description: List of Weekly Quests accepeted by players then sent to quest_weekly_list_tb.</string>
                        <string>Table Description: List of Active Skills for each Player.</string>
                        <string>Table Description: List of Passive Skills for each Player.</string>
                        <string>Table Description: List of Treasure obtained by each Player.</string>
                        <string>Table Description: Maybe a list of what players have completed the Tutorial?</string>
                        <string>Table Description: No Description</string>
                        <string>Table Description: List of Vehicles obtained by Players and their Reinforce Level.</string>
                        <string>Table Description: Maybe a list of Waypoints used by each player, Auto play maybe?</string>
                        <string>Table Description: Raw list of accounts, used for registration and login/verification. Then sent to account_tb.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TableDescriptionCount" serializeAs="String">
                <value>70</value>
            </setting>
        </Server_Console.Properties.Settings>
    </applicationSettings>
</configuration>