@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../font/NanumSquareR.eot);
 src: url(../font/NanumSquareR.eot) format('embedded-opentype'),
      url(../font/NanumSquareR.woff) format('woff'),
      url(../font/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../font/NanumSquareB.eot);
 src: url(../font/NanumSquareB.eot) format('embedded-opentype'),
      url(../font/NanumSquareB.woff) format('woff'),
      url(../font/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../font/NanumSquareEB.eot);
 src: url(../font/NanumSquareEB.eot) format('embedded-opentype'),
      url(../font/NanumSquareEB.woff) format('woff'),
      url(../font/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../font/NanumSquareL.eot);
 src: url(../font/NanumSquareL.eot) format('embedded-opentype'),
      url(../font/NanumSquareL.woff) format('woff'),
      url(../font/NanumSquareL.ttf) format('truetype');
}
